body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  .child-fb {
    width: 100vw;
    height: 100vh;
    &#child-one {
      background: url(asset_path('molly_fb.png'));
      background-size: contain;
      background-repeat: no-repeat;
    }

    section {
      width: 260px;
      padding: 15px 12px;
      position: absolute;
      background: #FC790B;
      border-radius: 8px;
      font-size: 19px;
      box-shadow: #6A3406 0px 1px 4px 0;
      display: none;

      .step-container {
        position: relative;

        h1 {
          font-size: 55px;
          margin: 10px;
          text-align: center;
          color: #fff;
        }

        @each $direction in $directions {
          div.#{$direction}-arrow {
            background-image: url(asset_path('#{$direction}-arrow.svg'));
            background-repeat: no-repeat;
            background-size: contain;
            height: 60px;
            position: absolute;
            width: 60px;
          }
        }

        p {
          margin-top: 0;
          color: #fff;
          font-weight: 100;
          line-height: 28px;
        }

        button {
          margin: 0 auto;
          display: block;
          font-size: 22px;
          color: #0186DA;
          border: transparent;
          background: #fff;
          border-radius: 5px;
          padding: 8px;
          cursor: pointer;
          outline: none;
        }

        .triangle-right {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #FC790B;
          position: absolute;
        }
        .triangle-left {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #FC790B;
          position: absolute;
        }
        .triangle-down {
          width: 0;
          height: 0;
          border-top: 20px solid #FC790B;
          border-right: 20px solid transparent;
          border-left: 20px solid transparent;
          position: absolute;
        }
      }
    }

    .stepOne {
      top: 420px;
      right: 38px;
      width: 220px;

      .down-arrow {
        right: 66px;
        bottom: 250px;
        animation: bounce 1.0s infinite;
      }

      .triangle-left {
        right: 207px;
        top: 176px;
      }
    }

    .stepTwo {
      top: 277px;
      right: 70px;
      width: 200px;

      .up-arrow {
        bottom: -75px;
        left: 60px;
        animation: bounce 1.0s infinite;
      }

      .triangle-left {
        right: 187px;
        top: 60px;
      }
    }

    .stepThree {
      right: 221px;
      top: 160px;

      .triangle-down {
        bottom: -35px;
        left: 96px;
      }

      .left-arrow {
        top: 40px;
        right: -74px;
        animation: bounce 1.0s infinite;
      }
    }

    .stepComplete {
      margin-left: auto;
      margin-right: auto;
      top: 190px;
      left: 0;
      right: 0;
      width: 655px;
      font-size: 40px;
      padding: 30px 40px;
      background: $mediumBlue;

      p {
        line-height: 45px !important;
      }

      .completeBtn {
        display: inline-block;
        font-size: 28px;
        color: #fff;

        &:first-child {
          margin-right: 55px;
          background: #FC4A17;
        }

        &:last-child {
          background: #1DC985;
        }
      }

      .buttons {
        margin: 0 auto;
        display: table;
      }
    }
  }
}
