main#profile-page {
  display: flex;
  flex-direction: row;
  background-image: url(asset_path('pattern.png'));
  height: 650px;
}
.profile-pic-container {
  color: white;
  height: 450px;
  width: 350px;
  background-color: $orange;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin: 80px 0 0 20px;
  .profile-pic {
    background: url(asset_path('jigglypuff'));
    width: 250px;
    height: 250px;
    border: 10px solid #FFC107;
    border-radius: 50%;
    background-size: contain;
    background-color: white;
    position: absolute;
    top: 100px;
  }
}
section.wrapper {
  box-shadow: -5px 0px 94px -16px rgba(0, 0, 0, 0.35);
  margin: 80px 0px 0 60px;
  width: 60vw;
  height: 450px;
  background-color: none;
  .tabs {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    background: none;
    >li {
      flex-grow: 1;
      font-size: 30px;
      list-style: none;
      text-align: center;
      padding: 10px 20px 10px 20px;
      background: $mediumBlue;
      // border-top-left-radius: 10px;
      // border-top-right-radius: 10px;
      &.active {
        background: white;
        a {
          cursor: pointer;
          color: $mediumBlue;
        }
      }
      a {
        color: white;
        text-decoration: none;
        text-decoration-color: currentColor;
      }
    }
  }
  div {
    background: white;
    height: 390px;
    display: flex;
    flex-direction: row;
    h4 {
      margin: 0;
    }
    div {
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      margin: 10px;
      &.medal {
        background-image: url(asset_path('medal.svg'));
      }
      &.badge {
        background-image: url(asset_path('badge.svg'));
      }
    }
  }
}
