main#profile-page {
  display: flex;
  flex-direction: row;
  background-image: url(asset_path('pattern.png'));
  height: 650px;
}
.profile-pic-container {
  box-shadow: 0px 7px 51px 1px rgba(0,0,0,.3);
  color: $mediumBlue;
  height: 450px;
  width: 300px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 160px;
  margin: 80px 0 0 50px;
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  .profile-pic {
    background: url(asset_path('debbie.jpg'));
    width: 240px;
    height: 240px;
    border: 5px solid #FF9800;
    border-radius: 50%;
    background-size: contain;
    background-color: white;
    position: absolute;
    top: 120px;
  }
}
section.wrapper {
  background-color: none;
  box-shadow: -5px 0px 94px -16px rgba(0, 0, 0, 0.35);
  height: 450px;
  margin: 80px 0px 0 60px;
  width: 60vw;
  .tabs {
    background: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    >li {
      background: $mediumBlue;
      cursor: pointer;
      flex-grow: 1;
      font-size: 30px;
      list-style: none;
      padding: 10px 20px 10px 20px;
      text-align: center;
      transition: all .5s;
      &:hover {
        transform: scale(1.03);
      }
      &.active {
        background: white;
        a {
          color: $mediumBlue;
        }
      }
      a {
        color: white;
        text-decoration: none;
        text-decoration-color: currentColor;
      }
    }
  }
  div {
    background: white;
    height: 390px;
    display: flex;
    flex-direction: row;
    &.user-info {
      flex-direction: column;
      justify-content: space-around;
      padding: 40px;
      label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h5 {
          font-size: 20px;
          margin: 0 20px 0 0;
          align-self: center;
        }
        p {
          width: 80%;
          font-size: 20px;
          border-bottom: 3px solid $mediumBlue;
          &:hover {
            border-color: $lightBlue;
          }
        }
      }
    }
    &.awards {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @each $award in $awards {
      div.#{$award} {
        background-image: url(asset_path('#{$award}.svg'));
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        margin: 30px;
      }
    }
  }
}
