.quizMessageModal {
  border-radius: 10px;
  background: $failQuiz;
  box-shadow: 8px 9px 52px 8px rgba(150,150,150,1);
  height: 50%;
  left: 25%;
  position: absolute;
  top: 30%;
  width: 50%;
  &.passColor {
    background: $passQuiz !important;
  }
  #quizMessage {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 10% 0;
    text-align: center;
  }
  button {
    background: #eee;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    display: block;
    font-size: 30px;
    margin: 0 auto;
    margin: 0 auto;
    outline: none;
    padding: 15px 25px;
    text-align: center;
  }
}
