$lightBlue: #46C2F1;
$mediumBlue: #0186DA;
$darkBlue: #39579A;
$failQuiz: #BE4824;
$passQuiz: #1DC985;
$orange: #FC790B;

$directions: up down left;
$awards: badge badge2 medal medal2 medal3 quality shield stars;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
