<section class="login-container">
    <div class='logo-container'>
      <div class='logo'></div>
    </div>
    <div class="login">
      <h1>Let's Login to Your Account</h1>
      <form>
        <fieldset>
          <!-- Username Field -->
          <label for="username">Username</label>
          <input id="username" type="text">
          <!-- Password Field -->
          <label for="password">Password</label>
          <input id="password" type="password">
          <!-- Submit Button -->
          <div class="button">
            <input ui-sref="parent.home" type="button" value="Log Me In!">
          </div>
        </fieldset>
        <h4>Don't have an account yet? Let's get you <a ui-sref="parent.register">registered</a>.</h4>
      </form>
    </div>

</section>
