<section class="login-container">
    <div class='logo-container'>
      <div class='logo'></div>
    </div>
    <div class="login">
      <h1>Let's Login to Your Account</h1>
      <form>
        <fieldset>
          <!-- Username Field -->
          <label for="username">Username</label>
          <input ng-model="login.user.name" id="username" type="text">
          <!-- Password Field -->
          <label for="password">Password</label>
          <input ng-model="login.user.password" id="password" type="password">
          <!-- Submit Button -->
          <div class="button">
            <input ng-click="login.signup.post(login.user.name)" ui-sref="home" type="button" value="Log Me In!">
          </div>
        </fieldset>
        <h4>Don't have an account yet? Let's get you <a ui-sref="register">registered</a>.</h4>
      </form>
    </div>

</section>

<!-- login.session.login(login.user); -->
