<main id="profile-page">
  <div class="profile-pic-container">
    <div class="profile-pic"></div>
    <h1>Mr. Jiggle Puff</h1>
    <h2>Jigglypuff</h2>
    <h3>100 points</h3>
  </div>

  <section class="wrapper">
    <ul class="tabs">
      <li ng-class="{active: profile.isSet('user')}" ng-click="profile.setTab('user')">
        <a href >User</a></li>
      <li ng-class="{active: profile.isSet('badges')}" ng-click="profile.setTab('badges')">
        <a href>Badges</a></li>
    </ul>

    <div ng-show="profile.isSet('user')">
      <h4>User tab</h4>
    </div>

    <div class="awards" ng-show="profile.isSet('badges')">
      <div class="medal"></div>
      <div class="badge"></div>
      <div class="medal2"></div>
      <div class="badge2"></div>
      <div class="medal3"></div>
      <div class="quality"></div>
      <div class="shield"></div>
      <div class="stars"></div>
    </div>
  </section>
</main>
