<div class="quiz-container">
  <section ng-repeat="item in quiz.currentQuestions()">
    <div class="question">
      <h3>{{item.number}}</h3>
      <p>{{item.question}}</p>
    </div>
    <div class="options option{{item.number}}">
      <div ng-repeat="(key, value) in item.options">
        <button ng-click="quiz.checkAnswer(key, item.answer); quiz.toggleStatus($event, item.number)" type="button">{{key}}</button>{{value}}
      </div>
    </div>
  </section>
  <button class="submit-button" ng-click="quiz.submitAnswers()" type="button">Submit!</button>
</div>
