<div class="quiz-container">
  <div class="box-header">

  </div>
    <h3>Question</h3>
    <div class="box-body">
      <div class="quiz-answers">
        <ul>
          <li>
            <strong class="abcd">A</strong>
            <div class="answer"></div>
          </li>
          <li>
            <strong class="abcd">B</strong>
            <div class="answer"></div>
          </li>
          <li>
            <strong class="abcd">C</strong>
            <div class="answer"></div>
          </li>
          <li>
            <strong class="abcd">D</strong>
            <div class="answer"></div>
          </li>
        </ul>
      </div>
    </div>
</div>
