<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <title>UpdatedGroupProject</title>
  </head>

  <body ng-app='app' ng-strict-di ng-controller='AppController'>
    <nav>
        <h5>Step {{stepInTutorial}} of 2<div class='triangle'></div></h5>
      <div class='logo'></div>
      <ul>
          <li ui-sref="home">Home  <div class='triangle'></div></li>
          <li ui-sref="child">Profile  <div class='triangle'></div></li>
      </ul>
    </nav>
    <main class="uiView">
      <ui-view></ui-view>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </body>
</html>
